sudo: false
language: node_js
node_js:
- 7.6.0
cache:
  directories:
  - node_modules
notifications:
  email: false
install:
- npm install
script:
- npm test
deploy:
  on:
    branch: master
  provider: npm
  email: alabeduarte@gmail.com
  api_key:
    secure: pHz2Rdlins25zy33W+ba3iy2xdyqa6DwtJO3Y0qa8uKkKNuVs0dAOS1ddXgtMrQl0ts2+yZoBdPcoLo8TH0J2i8iB5EzalE5v6jjNm2//EGlL/vbB/s3NO48sySKg5UH/stG1QnxCxZ7g9incNVmw4GnzvJWrY7mke7h1KrR6M6YN3QCu/FZVtaF6PrWYshy9c649PejxSo8nUkkcvefhESoEafRe/KT9+SXMgzMlr24ll2LUowxyIyoyPoQLERPOUjgSNFI5+thjDIVfgKj9Pd4om1ElC0j1zucVNeVN3ZpidMdk0mQk+HOB0J7MltMeYQSRRRbTkonfnTD7Z8EBgHnD9CLD1zwJjdK9rOJgElO+FoHQjUNV6hkE9BA1qS6R6fATi0SXbhLC3OFciqdA2+Yl8OxtHgUkO3IDYBCQ3iLK5td60NzHdesRjE97Hqg4kcy3pLT34ZIhlpcfe7sJu02AVUv1tyVwFT6tFox8PdmPP3LQidubmie+7LdHvhZppcPbJ1uCuGLawnRKiufNPUe2l8Sg5+5J5R2pZDOmv4m5C5INAZ3dcfvT1AnyicgTrvI9gaYOTQMTO6x5cOocZoBHCYHpm9ugH0AVbe/qbItRBGeVOf7Ar2c0fyV2fE/dfs42re4ZmB2KIvZfXrHggSJkCwIzcHJou4hEfhW3Vc=
